.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);

}
.app{
    overflow: hidden;
}
.header__navbar{
    display: flex;  
    justify-content: space-between;      
}
.header__navbar-list{
    list-style: none;
    margin: 4px 0 0 0;
    padding-left: 0;
    display: flex;

}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-img{
    border-radius: 50%;
    width: 22px;
    height: 22px;
    border:  1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.3rem;
    font-weight: 300;
    
}
.header__navbar-user-menu{
    position: absolute;
    padding-left: 0;
    z-index: 1;
    width: 160px;
    top: calc(100% + 6px);
    right: 0;
    border-radius: 2px;
    list-style: none;
    background-color: var(--white-color);
    
    box-shadow: 0 1px 2px beige;
    display: none;
}
.header__navbar-user-menu::before{
    content: "";
    border: solid ;
    border-width: 20px 25px;
    border-color: transparent transparent var(--white-color) transparent;
    right: 1px;
    top: -30px;
    position: absolute;
    z-index: -1;
}
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    width: 60%;
    height: 8px;
    right: 37px;
}
.header__navbar-user-item--separate{
    border-top: 1px solid rgb(0, 0, 0,0.2);
}
.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px ;
    border-top-right-radius: 2px ;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px ;
    border-bottom-right-radius: 2px ;

}
.header__navbar-user-item a:hover{
    background-color: #dad6d6;
}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}
    
.header__navbar-item--has-Notify:hover .header__notify{
    display: block;
}


.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
} 
.header__navbar-item,
.header__navbar-item-link,
.header_navbar-icon-link{
    display: inline-flex;
    align-items: center;
}


.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header_navbar-icon-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    z-index:1
}
.header__navbar-item--strong{
    font-weight: 400;
}


.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    border-left: 1px solid #fff;
    right: -9px;
    top :50%;
    transform: translateY(-50%);
}


.header_navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header_navbar-icon-link:nth-child(2){
    margin-left: 3px;
}

.header_navbar-icon{
    font-size: 1.5rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: #fff;
}

.header__qr{
    width: 185px;
    background-color: var(--white-color);
    position: absolute;
    top:118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.header__qr::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    display: block;
    left: 0;
    top: -9%;
}
.header_qr-img{
    width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
}
.header__qr-download-img{
    height: 15px;
}

/*header notify cation*/
.header__notify{
    position: absolute;
    top: 118%;
    width: 404px;
    right: 20px;
    border: 1px solid #3D3D3D;
    background-color: var(--white-color);
    transform-origin:90% top;
    animation: headerNotify ease-in 0.2s;
    will-change: opacity,transform;
    display: none;
}
@keyframes headerNotify{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.header__notify::before{
    content: "";
    border: solid ;
    border-width: 20px 25px;
    border-color: transparent transparent var(--white-color) transparent;
    right: 1px;
    top: -30px;
    position: absolute;
    z-index: 2;
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -18px;
    width: 90px;
    height: 20px;
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
    
}
.header__notify-header h3{
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    cursor: default;
    user-select: none;
}



.header__notify-list{
    padding-left: 0;
}
.header__notify-item{
    display: flex;
}
.header__notify-item:hover{
    background-color: #f3f1f1;

}
.header__notify-item--viewed{
    background-color: rgba(224, 13, 13, 0.1);
}

.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
    
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
    line-height: 1.3rem;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.6rem;

}
.header__notify-des{
    display: block;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #999;
    margin-top: 8px;
}

.header__notify-footer{
    display: flex;
    
}
.header__notify-footer--btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400 ;
}


       /* auth form */
.auth-form-login-show{
    width: 500px;
    margin-top: -100px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;

}

.auth-form-register-show{
    width: 500px;
    margin-top: -100px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form-login,
.auth-form-register{
    display: none;
}



.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--black-color);
    cursor: pointer;
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}



.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid #e7e3e3;
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #8e8d8d;
}

.auth-form__aside{
    margin-top: 20px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
}

.auth-form__policy-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 80px;

}

.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;
}
.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #e8e4e4;
    padding: 12px 32px 12px   32px ;
    display: flex;
    justify-content: space-between;   
    margin-top: 22px;
}

.auth-form__socials{
    font-size: 1.8rem;
}
.auth-form__socials--fb{
    color: var(--white-color);
    background-color: #5348ea;
}

.auth-form__socials--fb,
.auth-form__socials-icon{
    color: var(--white-color);

}
.auth-form__socials--gg{
    color: #3D3D3D;
    background-color: #666;
}
.auth-form__socials--lable{
    margin: 0 36px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;

}

.auth-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #999;
}
.auth-form__help-speacia{
    display: block;
    height: 22px;
    margin: -2px 16px 0;
    border-left: 1px solid #e7e3e3;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

/* <!-- Header with search --> */

.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
    
}

.header__logo{
    width: 200px;
}
.header__logo-link{
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}
.header__logo-img{
    width: 150px;
    color: var(--white-color);
}

.header__search{
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    
}
/* header bars bar */
.header__bars-sort{
    list-style: none;
    padding: 0 0 ;
}
.header__bars-item{ 
    border-bottom: 1px solid #e1dfdf;
}
.bar{
    position: fixed;
    top:  var(--header-height);
    left: 0;
    right: 0;
    width: 70%;
    max-height: 1000px;
    background-color: var(--white-color);
    border-top: 1px solid #e5e5e5;
    z-index: 5;
    padding-left: 0;
    transform: translateX(-100%);
}
    
@keyframes BarsMobile {
    from{
        opacity: 0;
    }    
    to{
        opacity: 1;

    }
}
.bars__overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 4;
    display: none;
}
.mobile__bars-checkbox:checked ~ .bars__overlay{
    display: block;
}
.mobile__bars-checkbox:checked ~ .bar{
    transform: translateX(0);
    animation: BarsMobile linear 0.3s;
}

.mobile__search-checkbox:checked ~ .header__search{
    display: flex;
}
.header__mobile-search{
    padding: 0 12px;
    display: none;
}

.header__mobile-search .header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__mobile-bars{
    padding: 0 12px;
    display: none;
}
.header__mobile-bars .header__mobile-bars-icon{
    font-size: 2.6rem;
    color: var(--white-color);
}
/* có cart*/
.header__cart{
    width: 60px;
    text-align: center;
    
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 7px);
    background-color: var(--white-color);
    width: 400px;
    right: -9px;
    border-radius: 2px;
    box-shadow: 0 2px 3.125rem rgb(0, 0, 0,0.2);
    display: none;
    animation:  fadeIn ease-in 0.5s;
    cursor: default;
    z-index: 1;
}
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px ;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}
.header__cart-item{
    display: flex;
    align-items: center;
    
}
.header__cart-item:hover{
    background-color:#ede7e7;
}
.header__cart-img{
    width: 40px;
    height: 40px;
    margin:12px;
}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    
}
.header__cart-item-name{
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}
.header__cart-item-multiply{
    color: #757575;
    font-size: 1rem;
    margin: 0 4px;
}
.header__cart-item-qnt{
    color: #5d5d5d;
    font-size: 1.2rem
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description{
    color: #5d5d5d;
    font-size: 1.3rem;
    font-weight: 300;
}
.header__cart-item-remove{
    color:var(--primary-color);
    font-size: 1.3rem;
    font-weight: 300;
}
.header__cart-item-remove:hover{
    background-color: rgb(247, 73, 73);
}
.header__cart-view-cart{
    margin: 0 12px 12px 0;
    float: right;
}
.header__cart-view-cart:hover{
    background-color: rgb(246, 73, 73);
}


.header__cart-list::after{
    content: "";
    position: absolute;
    right: 4px;
    top: -28px;
    border-width: 20px 26px;
    border-style: solid;
    border-color:  transparent transparent var(--white-color);
    cursor: pointer;    
}   
.header__cart:hover .header__cart-list{
    display: block;
}
.header__cart-list--no-cart .header__cart-no--cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.header__cart-no--cart-img{
    width: 50%;
    display: none;
}
.header__cart-list--no-cart{
    padding: 25 px 0;
}
.header__cart-list--no-cart-msg{
    font-size: 1.4rem;
    margin-top: 15px;
    color: var(--text-color);
    display: none;
}
.header__cart-notice{
    position: absolute;
    padding: 1px 7px;
    font-size: 1.4rem;
    top: -5px;
    right: -5px;
    line-height: 1.4rem;
    color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid rgb(244, 68, 68);
    background-color: var(--white-color);
}

.header__cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
   
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    margin-left: 2px;
}   


.header__search-select{
    border-left: 1px solid #dad6d6;
    padding-left:  16px; 
    position: relative; 
    cursor: pointer;
}


.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
    
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #717070;
    margin: 7px 16px 7px 8px;
    position: relative;
    top: 1px;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
}

.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
    
}

.header__search-btn:hover {
    background-color: rgb(243, 142, 142);
    cursor: pointer;
}
.header__search-select:hover .header__search-option{
    display: block;
}
.header__search-option{
    position: absolute;
    right: 0;
    top: calc(100% - 2px);
    width: 180px;
    list-style: none;
    box-shadow: 0 1px 2px #dedcdc;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    z-index: 1;
}
.header__search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}
.header__search-option-item{
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 8px;
    

}
.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;


}
.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;


}
.header__search-option-item:hover{
    background-color: #f6f3f3;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 10px;
}
.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left:12px;
    display: none;
}
.header__search-option-item--active i{
    display: inline-block;
}



/* search history*/
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px beige;
    display: none;
    overflow: hidden;
    z-index: 1;
}
.header__search-input:focus ~.header__search-history {
    display: block;
}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #dedcdc;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
    
}
.header__search-history-list-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-list-item:hover{
    background-color: #f8f4f4;
}
.header__search-history-list-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

.header__bars-link{
    text-decoration: none;
   color: var(--text-color);
   font-size: 1.4rem;
   height: 100%;
   padding-left: 10px;
   line-height: var(--header-sort-bar-height);
   
}
/* header sort bar */
.header__sort-bar{
    position: fixed;
    top:  var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    display: none;
    
}
.header__sort-item{
    flex: 1;
}
.header__sort-item:first-child .header__sort-link::before{
    display: none;
}
.header__sort-item--active{
    color: var(--primary-color);
}
.header__sort-link{
   text-decoration: none;
   color: var(--text-color);
   font-size: 1.4rem;
   display: block;
   height: 100%;
   line-height: var(--header-sort-bar-height);
   text-align: center;
   position: relative;
}
.header__sort-link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #E1E1E1;
    transform: translateY(-50%);
}
/* app container*/
.app__container{
    background-color: #efecec;
}
.app_content{
    padding: 24px 0;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading{
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    
}
.category-list{
    padding:0 0 8px 0;
    list-style: none;
}
.category-item{
    position: relative;
}
.category-item:first-child::before{
    display: none;
}
.category-item::before{
    position: absolute;
    content: "";
    border-top: 1px solid #E1E1E1;
    top: 0;
    right: 20px;
    left: 20px;

}
.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item__link{
    position: relative;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 6px 20px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}
.category-item__link:hover{
    color: var(--primary-color);
}

.home-filter{
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(30, 28, 28, 0.1);
}
.home-filter__lable{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eeeeee;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
.home-filter__page-btn-disable{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn-disable .home-filter__page-icon{
    color: #ccc;
}
/* Mobile category */
.mobile-category{
    display: none;
}
.active_boder{
    border-bottom: 1px solid red;
}

.mobile-category-list{
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x:auto;
    
}
.mobile-category-list::-webkit-scrollbar{
    display: none;
}
.mobile-category__item{
    flex-shrink: 0;
    margin-right: 10px;
}
.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{
    background-color: #5348ea;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
    background-color: #48ea81;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link{
    background-color: #ea7948;
}

.mobile-category__link{
    --line-height:2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    text-align: center;
    display: block;
    width: 110px;
    border-radius: 4px;
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* product item */
.home-product{
    margin-bottom: 10px;
}

.home-product-item{
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 0.125rem 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}
.home-product-item:hover{
    transform:translateY(-2px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; chinh anh phu hop kich thuoc */
    background-position: center;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;

}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}
.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item__like{
    font-size: 1.4ren;
}
i.home-product-item__like-icon-fill {
    display: none;
    color: var(--primary-color);
}
.home-product-item__like--liked i.home-product-item__like-icon-fill{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__rating{
    font-size: 1rem;
    color: #ccc;
    margin-left: auto;
    margin: 1px 0 0 auto;
}
.home-product-item__star{
    color: #d3d00e;
}

.home-product-item-sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 7px 10px 0;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__origin-name{
    margin-left: auto;

}
.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}
.home-product-item__favourite span{
    color: var(--white-color);
}
.home-product-item__favourite::after{
    content: "";
    position: absolute;
    bottom: -2.8px;
    left: 0;
    border-top: 3px solid var(--primary-color);
    border-left: 3px solid transparent;
    filter: brightness(60%);
}
.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}
.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.9);
    text-align: center;
    border-top-right-radius: 2px;
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64) transparent rgba(255, 216, 64);
}
.home-product-item__sale-off__percent{
    color: red;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 1px;
}
.home-product-item__sale-off-label{
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    position: relative;
    top: 3px;
}

 .home-product__pagination{
    margin-top: 48px;
    margin-bottom: 32px;
    padding-left: 0;
}

.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}

.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer__list{
    padding-left: 0;
    list-style: none;
}
 .footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 5px 0;
    display: flex;
    align-items: center;
}
.footer-item__link:hover{
    color: var(--primary-color);
}  

.footer-item-icon{
    font-size: 1.7rem;
    margin: -3px 8px 0 0;
}

.footer__download{
    display: flex;
}
.footer__download-qr{
    width: 80px;
    border: 1px solid #999;
}

.footer__download-app-img{
    height: 16px;
}.footer__download-app-link{
    color: transparent;
    text-decoration: none;
}
.footer__bottom{
    background-color: #8e8d8d;
    padding:6px 0 ;
    margin-top: 24px;
}

.footer__text{
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
}